body{
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
    background-image: url("../images/qbkls.png");
    color: #777777;
    height: 100%;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow:hidden;
}

/* ------Header-----*/
header{
    background-color: #ffffff;
    margin-bottom: 20px 5px;
}

#logo{
    float: left;
    margin-top: 10px 5px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 0px 15px 0px 15px;
}

nav{
    float:right;
    line-height: 70px;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: green;
}

nav li{
    display:inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    line-height: normal;
}

/*-----CONTENT-----*/
.wrapper{
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}
.title{
    Font-size: 20px;
    color: #4aaaa5;
    margin-top: 15px;
    padding: 3px 30px;
}

.line{
    width: 94%; height: 4px; background: #dddddd;
    margin: auto;
}
#profile_picture{
    float: left;
    overflow:hidden;
    padding: 25px;
}
.content{
    font-size: 16px;
    text-indent: 50px;
    margin: auto;
    text-align: left;
    padding: 18px;
}

.footer{
    text-align: center ;
    background-color: #777777;
    color: #ffffff;
    width: 100%;
    position: fixed;
    height: 25px;
    padding: 20px;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
}

/* design for contact page*/
.wrapper-contact{
    width: 960px;
    margin: auto;
    background-color:#ffffff;
}

.contact-form{
    border-radius: 5px;
    padding: 30px;
}

input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
}


input[type=submit] {
    background-color:#4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:white;
    color:#4aaaa5;
    border: 1px solid #4aaaa5;
}


/* design for Portfolio page*/
.wrapper-portfolio{
    width: 960px;
    margin: auto;
    background-color:#ffffff;
    margin-bottom: 8%;
}

.row {
    margin 8px;
}

.column{
    float: left;
    width: 35%;
    margin: auto;
    
}

/* clear floats after rows*/
.row:after {
    content:"";
    display: table;
    clear: both;
}

.content{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}
.text{
    position: absolute;
    bottom: 35px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 15%;
    padding-right: 25px;
    width: 82%;
}


